################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CubeGame/Debug
/CubeGame/CubeGame.VC.db
/CubeGame/CubeGame.VC.VC.opendb
